@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right, rgb(26, 32, 34) 0%, #0d6654 50%, rgb(3, 33, 45) 100%); */
    z-index: -1;
   
  }

body{
  font-family: 'Comic Neue', cursive;
  letter-spacing: 1.2px;
  background: #0f0f10;

}
.lobster-two{
  font-family: 'Lobster Two', cursive;

}
.welcome-wrapper {
  font-family: 'Lobster Two', cursive;
  font-size: 4em;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.welcome-wrapper.italic-outline {
    transform: scale(1, 1.3);
    -webkit-transform: scale(1, 1.3);
    -moz-transform: scale(1, 1.3);
    -o-transform: scale(1, 1.3);
    -ms-transform: scale(1, 1.3);
}

.welcome-wrapper.italic-outline .text {
    letter-spacing: 0.01em;
    font-weight: bold;
    color: #000;
    -webkit-text-stroke: 0.04em #fff;
    filter: progid:DXImageTransform.Microsoft.Glow(Color=#000000, Strength=1);
    text-shadow: 0.03em 0.03em 0 #6D6D6D;
}
.btn-background-fill{
  background: #DDf352;
  background-image: linear-gradient(270deg, #DDF352 0%, #C7EF1A 96.53%);
}
.bg-background-backdrop {
  background: rgba(0, 0, 0, 0.9);
}
.bg-background-secondary {
  background: #0f0f10;
}

.product-hover {
  transition: all 0.3s ease;
}

.product-hover:hover > .product-hover img{
  transform: scale(1.5);
}